.container{

}
.circle-small{
animation: pulseAnime 0.5s infinite ;
animation-delay: 200ms;

}
.circle-medium{
    animation: pulseAnime 0.8s infinite ;
animation-delay: 50ms;

}
.circle-large{
    
    animation: pulseAnime 0.6s infinite ;
    animation-delay: 150ms;
}

@keyframes pulseAnime {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
}